body, html {
    height: 100%;
}

.bg {
    background-image: url("mountain.jpg");
    height: 100%;
}

#BigName {
    color: pink;
    font-size: 72pt;
    padding: 0px;
    margin: 0px 300px 0px 300px;
}

.div1 {
    text-align: center;
}