body, html {
    height: 100%;
    width: 100%;
    text-align: center;

}

.bg {
    /*background-image: url('blueback.png');*/
    background-color: beige;
    background-size: 100%;
    height: 100%;
}




@media screen and (min-width: 300px) and (max-width:640px) {

    .order {
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
      }

    .div2 {
        margin: 0 50% 0 50%;
        width: 0%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      a.normal:link, a.normal:visited {
        background-color: blue;
        color: white;
        padding: 14px 25px 14px 25px;
        text-align: center;
        text-decoration: none;
        transform: rotate(0deg);
        display: inline-block;
        margin: 10px 20px 10px 20px;
      }
    
      a.normal:hover, a.normal:active {
        background-color: blue;
        padding: 14px 30px 14px 30px;
      }

      .BigName {
        width: 100%;
        color: rgba(48, 7, 233, 0.904);
        font-size: 4.5rem;
        padding: 0px;
        margin: 5% 0px 1rem 0px;
      }
    
} /*End of media small screen*/

@media screen and (min-width: 641px) {

  .order {
    height: 100%;
    display: flex;
  }

  .div2 {
    margin-top: 5%;
    float: left;
    width: 0%;
  }

  a.normal:link, a.normal:visited {
    background-color: blue;
    color: white;
    padding: 14px 25px 14px 100px;
    text-align: center;
    text-decoration: none;
    transform: rotate(5deg);
    display: inline-block;
    margin: 10px 20px 10px -30px;
  }

  a.normal:hover, a.normal:active {
    background-color: blue;
    padding: 14px 25px 14px 120px;
  }

  .BigName {
    color: rgba(48, 7, 233, 0.904);
    font-size: 4.5rem;
    padding: 0px;
    margin: 10% 0px 6rem 0px;
  }

} /*End of media big screen*/



  



.outside {
    color: rgb(48, 65, 163);
    text-decoration: none;
}

.outside2 {
    color: black;
}

.div1 {
    float: center;
    text-align: center;
    width: 100%;
}

#parallelogram {
    width: 150px;
    height: 100px;
    transform: skew(20deg);
    background: blue;
  }