html {
  --text-color1: #d83f87;
  --back-color: #2a1b3d;
  --back-color2: #44318d;
  --text-color2: #d83f87;
  --font-color1: white;
}

body {
  text-align: center;
  background-image: radial-gradient(var(--back-color2), var(--back-color));
  background-color: var(--back-color);
  background-size: 100vh/100vw;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 10% 40% 10% 20% 20% / 20% 10% 40% 30%;
}

a.normal:link,
a.normal:visited {
  background-color: var(--text-color2);
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transform: rotate(5deg);
  margin: 10px 20px 10px -120px;
  background-color: var(--text-color2);
  padding: 14px 25px 14px 120px;
}

a.normal:hover,
a.normal:active {
  margin: 10px 20px 10px -90px;
}

.BigName {
  color: var(--back-color);
  padding: 0px;
  text-shadow: -2px -2px 0 var(--text-color2), 2px -2px 0 var(--text-color2),
    -2px 2px 0 var(--text-color2), 2px 2px 0 var(--text-color2);

  font-size: 4.5rem;
  margin: 10% 0px 6rem 0px;
  grid-area: 2/3/3/4;
}

.navbar {
  grid-area: 2/1/3/2;
}

.info {
  grid-area: 4/3/5/4;
  color: white;
}

a {
  color: white;
}

@media screen and (min-width: 300px) and (max-width: 640px) {
}
