body, html {
    height: 100%;
    width: 100%;
    text-align: center;
}

.bg {
    background-image: url('./images/blueback.jpg');
    background-color: grey;
    background-size: 100%;
    height: 100%;
}

a.normal:link, a.normal:visited {
    background-color: blue;
    color: white;
    padding: 14px 25px 14px 100px;
    text-align: center;
    text-decoration: none;
    transform: rotate(5deg);
    display: inline-block;
    margin: 10px 20px 10px -30px;
  }
  
a.normal:hover, a.normal:active {
    background-color: blue;
    padding: 14px 25px 14px 120px;
  }

.outside {
    color: rgb(48, 65, 163);
    text-decoration: none;
}

.outside2 {
    color: black;
}

.BigName {
    color: rgba(48, 7, 233, 0.904);
    font-size: 72pt;
    padding: 0px;
    margin: 100px 300px 100px 300px;
}

.div1 {
    text-align: center;
    width: 100%;
}

.div2 {
    float: left;
    width: 0%;
}

#parallelogram {
    width: 150px;
    height: 100px;
    transform: skew(20deg);
    background: blue;
  }