body,
html {
  text-align: center;
  height: 90%;
  font-family: "Lato", sans-serif;
}

#overlay {
  z-index: 1000;
  background-size: 100vh/100vw;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 10% 40% 10% 20% 20% / 20% 10% 40% 30%;
  position: relative;
  font-family: "Lato", sans-serif;
  /* font-family: "DejaVuSerif"; */
}

.hexy {
  /* font-family: "DejaVuSerif", serif; */
}

.wrapper {
  height: 150vw;
  width: 150vw;
  display: grid;
  /* grid-template: repeat(4, 57.5px 115px) / repeat(12, 211px); */
  grid-template: repeat(4, 60px 120px) / repeat(12, 217px);
  grid-gap: 0px;
  z-index: 0;
  margin-top: -15%;
  margin-left: -20%;
  position: fixed;
  /* font-family: "DejaVuSerif", serif; */
  /* font-family: "Lato", sans-serif; */
}

a.normal:link,
a.normal:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transform: rotate(5deg);
  margin: 10px 20px 10px -130px;
  padding: 14px 25px 14px 120px;
}

a.normal:hover,
a.normal:active {
  margin: 10px 20px 10px -90px;
}

@keyframes colorChange {
  0% {
    filter: invert(10%);
  }
  50% {
    filter: invert(30%);
  }
  100% {
    filter: invert(10%);
  }
}

@keyframes colorChange2 {
  0% {
    filter: invert(30%);
  }
  50% {
    filter: invert(10%);
  }
  100% {
    filter: invert(30%);
  }
}

#BigName {
  /* color: var(--back-color); */
  color: white;
  padding: 0px;
  /* text-shadow: -2px -2px 0 var(--text-color2), 2px -2px 0 var(--text-color2),
    -2px 2px 0 var(--text-color2), 2px 2px 0 var(--text-color2); */

  font-size: 4.5rem;
  margin: 10% 0px 6rem 0px;
  grid-area: 2/3/3/4;
  /* transform: rotate(-30deg) skew(-30deg); */
}

.navbar {
  grid-area: 2/1/3/2;
}

.info {
  grid-area: 4/3/5/4;
  color: white;
}

a {
  color: white;
}
